* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    font-family: Arial, Helvetica, sans-serif;
    height:100vh;
    width: 100%;
    background-color:#eff5fb;
}
.back-arrow {
    position: absolute;
    top: 25px;
    left: 20px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
  }
  
  .back-arrow:hover {
    color: #0a0a0a;
  }
header{
    background-color: pink;
    padding:30px;
    font-size:25px;
    text-align: center;

}
.image2 {
    background-image: url("images/food1.webp");
    width:40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
}
.image-container {
    position: relative;
    margin:auto;
  }
  
  .image2 {
    width: 100%; /* make the image full width */
    height: 300px; /* adjust the height to your liking */
    object-fit: cover;
  }
  .overlay {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color:white; /* white text */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* add text shadow for better readability */
  }
  .btn {
    position: absolute;
    top: 50%; 
    left: 50%; /* position the button 50% from the left of the image */
    transform: translate(-50%, -50%); /* center the button horizontally and vertically */
    background-color: #f64b12; /* white background */
    color: #f7f7f7; 
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ce6969; /* light gray background on hover */
  }
.text{
    text-align: center;
    width:50%;
    margin:auto;
    margin-top:20px;
    font-size: 20px;
}