*{
    margin:0;
    padding:0;

}
body{
    background-image: url("images/bg4.jpg");
    color:#F0F0F2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    font-family: 'Poppins',sans-serif;
    height:100vh;
    animation:animateBackground 3s linear  infinite;
}

nav{
  top:0;
  right:0;
  padding:10px;
  border-radius: 0 10px 10px 0;
  
  
}

nav ul{

  width:100%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
nav li{
 height:50px;
}
nav a{
height:100%;
margin-top: 0px;
padding:0 20px;
text-decoration: none;
display: flex;
justify-content: flex-end;
align-items: center;
color: white;
}
nav a:hover{
  color:rgb(88, 1, 92) ;
}
nav li:first-child{
margin-right:auto;   
}

.sidebar{
  position: fixed;
  top:0;
  right:0;
  height:50vh;
  width:200px;
  z-index:999;
  background-color:rgb(92, 144, 163);
  backdrop-filter: blur();
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  display:none;
  flex-direction: column;
  align-items:flex-start;
  justify-content: flex-start;

}
.sidebar li{
  width:100%;

}
.sidebar a{
  width:100%;
}

@keyframes animateBackground {
    0% {
        background-clip: 50% 50%;
      }
      100% {
        background-position: 100% 100%;
      }
}
.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .project-container {
    background-color:#474F59;
    color:#a4c2ec;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    
    padding: 1.5em;
    text-align: center;
    width: 300px;
  }
  
  .project-title {
    margin-bottom: 1rem;
  }
  
  .project-details {
    margin-bottom: 1rem;
  }
  
  .project-link {
    display: block;
    padding: 0.5rem;
    background-color: #122a40;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    width:50%;
    margin:0 auto;
  }
  
  .project-link:hover {
    background-color: #1b6b8d;
  }

